<!-- Intro -->
{% extends "Index.html" %}
  {% block content %}
    <section id="intro" class="main style1 dark fullscreen">
      <div class="content">
        <header>
          <h2>HealthAssure - DeFi</h2>
        </header>
        <div>
            <div>
                <p>Welcome to <strong>HealthAssure</strong> a unified health information system leveraging Polygon blockchain transactions and Polygon NFT’s for medical records.</p>
            </div>
            <div>
                <img src="../static/images/flow.png" />
            </div>
        </div>
      </div>
    </section>
    {% endblock %}